Numbers only
%br/
%br/
= simple_form_for @day do |f|
  = f.input :meditation_actual, label: "Meditation in minutes", input_html: { class: "form-control"}
  = f.input :actual_push_ups, label: "Push ups", input_html: { class: "form-control"}
  = f.input :abcrunch_actual, label: "Abdominal crunches", input_html: { class: "form-control"}
  = f.input :leg_scissors_actual, label: "Leg scissors", input_html: { class: "form-control"}
  = f.input :walk_run_actual, label: "Walking or running in minutes", input_html: { class: "form-control"}
  = link_to "Back", day_path(@day), class: "btn btn-primary"
  = f.button :submit
