= simple_form_for @day do |f|
  = f.input :date, label: "Date"
  = f.input :inspiration, label: "Your inspiration for today"
  = f.input :challenge, label: "Your challenge for today"
  = f.button :submit
