.container-fluid
  .day-goals
    %h2
      =@day.date.strftime("%A %B %d")
    %h3
      =@day.date.strftime("%Y")
    %br/
    %h4= "My Challenge: " + @day.challenge
    %h4= "Today's Inspiration - " + @day.inspiration + " -"
    %br/
    %h3= "Physical day goals "
    %p= "Current Weigth- " + "#{@day.kg.round(2)}" + " Kg"
    - if @day.actual_push_ups.blank?
      Push up: No actuals yet
    - else
      %p= "Push up goal: " + @day.push_up.to_s + " Push up actual: " + @day.actual_push_ups.to_s + " Status: " + @day.push_up_result.to_s
    %p= "Abdominal Crunches- " + @day.abdominal_crunch.to_s + " Times"
    %p= "walk or run- " + @day.walk_run.to_s + " Minutes"
    %br/
    %h3= "Mental day goals "
    %p= "Meditation- " + @day.meditation.to_s + " Minutes"
    %p= "Insight- " + @day.insight.to_s
  %br/
  %p= link_to "Edit", edit_day_path(@day)
  %p= link_to "Delete", day_path(@day), method: :delete, data: { confirm: "Are you sure?" }
  .day-actuals
  = render 'actuals_form'
