.container-fluid
  .day-goals
    %h2
      =@day.date.strftime("%A %B %e")
    %h4
      = "Day Challenge - " + @day.challenge
      %br/
      = "Inspiration Quote - " + @day.inspiration
      %br/
      - if @day.kg.blank?

      - else
        = "Weigth - " + "#{@day.kg.round(2)}" + " Kg"
    %br/

.day-elements
  %nav
    %ul
      %li.menu
        %h3 Goals
        %ul.list-items
          %li= "Meditation: " + @day.meditation.to_s + " Min."
          %li= "Push ups: " + @day.push_up.to_s
          %li= "Ab Crunches: " + @day.abdominal_crunch.to_s
          %li= "Ab Scissors: " + @day.leg_Scissors.to_s
          %li= "Walking or running: " + @day.walk_run.to_s
          %li
            %span#button-show
              = link_to "Set Goals", static_pages_goals_path
      %li.menu
        %h3 Evaluations
        %ul.list-items
          %li= " Min."
          %li= @day.actual_push_ups.to_s + " Times"
          %li= " Times"
          %li= " Times"
          %li= " Min."
          %li
            %span#button-show
              = link_to "Add Results", static_pages_results_path
  -# %h4
  -# - if @day.actual_push_ups.blank?
  -#   Push up: No actuals yet
  -# - else
  -#   %p= "Push up goal: " + @day.push_up.to_s + " Push up actual: " + @day.actual_push_ups.to_s + " Status: " + @day.push_up_result.to_s
  -# %p= "Abdominal Crunches- " + @day.abdominal_crunch.to_s + " Times"
  -# %p= "Insight- " + @day.insight.to_s
  -# %br/
  -# .day-actuals
  -# = render 'actuals_form'
#intro<
  %span#button-intro
    = link_to "Update", edit_day_path(@day)
  or
  %span#button-intro
    = link_to "Delete", day_path(@day), method: :delete, data: { confirm: "Are you sure?" }
  Day
