.container-fluid
  .day-goals
    %h2
      =@day.date.strftime("%A %B %e")
    %h4
      = "Day Challenge - " + @day.challenge
      %br/
      = "Inspiration Quote - " + @day.inspiration
      %br/
      - if @day.kg.blank?

      - else
        = "Weigth - " + "#{@day.kg.round(2)}" + " Kg"
    %br/

.day-elements
  %nav
    %ul
      %li.menu
        %h3 Goals
        %ul.list-items
          %li= "Meditation: " + @day.meditation.to_s + " Min."
          %li= "Push ups: " + @day.push_up.to_s
          %li= "Ab Crunches: " + @day.abdominal_crunch.to_s
          %li= "Leg Scissors: " + @day.leg_Scissors.to_s
          %li= "Walking or running: " + @day.walk_run.to_s
          %li
            %span#button-show
              = link_to "Set Goals", static_pages_goals_path
      %li.menu
        %h3 Evaluations
        %ul.list-items
          %li= @day.meditation_actual.to_s + " Minutes"
          %li
            - if @day.actual_push_ups.blank? ||  @day.actual_push_ups == 0
              No actuals yet
            - else
              = @day.push_up_result.to_s
          %li= @day.abcrunch_actual.to_s + " Times"
          %li= @day.leg_scissors_actual.to_s + " Times"
          %li= @day.walk_run_actual.to_s + " Minutes"
          %li
            %span#button-show
              = link_to "Add Results", static_pages_results_path
  -# %h4
  -# - if @day.actual_push_ups.blank?
  -#   Push up: No actuals yet
  -# - else
  -# %p= "Abdominal Crunches- " + @day.abdominal_crunch.to_s + " Times"
  -# %p= "Insight- " + @day.insight.to_s

  -# .day-actuals
  #update_delete<
    %span#button-updel
      = link_to "Update", edit_day_path(@day)
    or
    %span#button-updel
      = link_to "Delete", day_path(@day), method: :delete, data: { confirm: "Are you sure?" }
    Day
